docker
.idea
.git
.tox
.venv
dist
build
.env
.pyc
VERSIONS.md
AUTHORS.md
*.log
Makefile
.pre-commit-config.yaml
.gitignore
.gitattributes
.editorconfig
.coveragerc
*.egg-info
.coverage
tox.ini
logs
CONTRIBUTING.md
.github
.dockerignore
.pytest_cache
.ruff_cache
.mypy_cache
Dockerfile
LICENSE
MANIFEST.in
.dccache
smsaero_api_async.egg-info

